<div class="container">
  <div class="row">
    <div class="col text-center">
      <img src="img/ture.JPG" alt="Bugi Nur rohman" class="img-thumbnail rounded-circle" width="200" />
      <h1 class="display-4">Bugi Nur Rohman</h1>
      <p class="lead">Calon bangsawan</p>
    </div>
  </div>
</div>
